<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dino Crud</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/dinosaurs">all dinos</a>
            </li>

            <li>
                <a href="/dinosaurs/new">new dino form</a>
            </li>

            <li>
                <a href="/prehistoric_creatures">all creatures</a>
            </li>

            <li>
                <a href="/prehistoric_creatures/new">new creature form</a>
            </li>
        </ul>
    </nav>

    <h1>Love them dinos and creatures!</h1>

    <%- body %>
</body>
</html>