<form method="POST" action="/prehistoric_creatures">
    <label for="creatureType">Name</label>
    <input id="creatureType" type="text" name="type">
    
    <label for="creatureImg">Type</label>
    <input id="creatureImg" type="text" name="img_url">
  
  
    <input type="submit">
</form>